<settings>
  <servers>

//From jenkins setup
 <server>
      <id>maven-snapshots</id>
      <username>admin</username>
      <password>2603</password>
      
    </server>

<server>
      <id>maven-releases</id>
      <username>admin</username>
      <password>2603</password>
     
    </server>


   //Eclipse deploy
    <!-- <server>
      <id>JDBCSnap</id>
      <username>admin</username>
      <password>password</password>
    </server>
     <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server> -->
  
  </servers>

  <mirrors>
    <mirror>
      <id>maven-public</id>
      <name>maven-public</name>
       <url>http://localhost:8081/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
